---
import Link from "../ui/Link.astro";
const { text, text2 } = Astro.props as { text: string; text2: string };
---

<section class="my-10 md:my-0">
    <div>
        <p class="text-2xl font-bold text-blue-400 dark:text-cyan-600">
            Lennart Bergmann
        </p>
        <p class="text-xl mb-6">
            {text}
        </p>
        <p class="mb-4 text-xl">
            {text2}
        </p>

        <Link name="Github" url="https://github.com/gitbergmann/" />
    </div>
</section>
