---
import H2 from "../ui/H2.astro";
import Tech from "./Tech.astro";
const { headline } = Astro.props as { headline: string };

const techstack: { name: string; img: string }[] = [
    { name: "HTML", img: "" },
    { name: "CSS", img: "" },
    { name: "JavaScript", img: "" },
    { name: "PHP", img: "" },
    { name: "Typescript", img: "" },
    { name: "React", img: "" },
    { name: "Next.js", img: "" },
    { name: "three.js", img: "" },
    { name: "Vue.js", img: "" },
    { name: "Twig", img: "" },
    { name: "SCSS", img: "" },
    { name: "SQL", img: "" },
    { name: "Wordpress", img: "" },
    { name: "Astro", img: "" },
    { name: "grunt", img: "" },
    { name: "vite", img: "" },
    { name: "npm", img: "" },
    { name: "git", img: "" },
];
---

<section class="mb-10">
    <div class="max-w-5xl mx-auto">
        <H2>{headline}</H2>
        <ul class="flex justify-start gap-x-4 gap-y-4 gap flex-wrap">
            {
                techstack.map((tech) => (
                    <li>
                        <Tech name={tech.name} />
                    </li>
                ))
            }
        </ul>
    </div>
</section>
